@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);
  --color-primary-subtle: var(--primary-subtle);
  --color-primary-subtle-fg: var(--primary-subtle-fg);

  --color-secondary: var(--secondary);
  --color-secondary-fg: var(--secondary-fg);

  --color-accent: var(--accent);
  --color-accent-fg: var(--accent-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);
  --color-success-subtle: var(--success-subtle);
  --color-success-subtle-fg: var(--success-subtle-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);
  --color-danger-subtle: var(--danger-subtle);
  --color-danger-subtle-fg: var(--danger-subtle-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);
  --color-warning-subtle: var(--warning-subtle);
  --color-warning-subtle-fg: var(--warning-subtle-fg);

  --color-info-subtle: var(--info-subtle);
  --color-info-subtle-fg: var(--info-subtle-fg);

  --color-muted: var(--muted);
  --color-muted-fg: var(--muted-fg);

  --color-overlay: var(--overlay);
  --color-overlay-fg: var(--overlay-fg);

  --color-navbar: var(--navbar);
  --color-navbar-fg: var(--navbar-fg);

  --color-sidebar: var(--sidebar);
  --color-sidebar-fg: var(--sidebar-fg);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-fg: var(--sidebar-primary-fg);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-fg: var(--sidebar-accent-fg);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

:root {
  --bg: oklch(1 0 0);
  --fg: oklch(0.205 0 0);

  --primary: oklch(0.705 0.213 47.604);
  --primary-fg: oklch(1 0 0);

  --primary-subtle: oklch(0.705 0.213 47.604 / 0.15);
  --primary-subtle-fg: oklch(0.553 0.195 38.402);

  --secondary: oklch(0.922 0 0);
  --secondary-fg: oklch(0.145 0 0);

  --overlay: oklch(1 0 0);
  --overlay-fg: oklch(0.145 0 0);

  --accent: oklch(0.922 0 0);
  --accent-fg: oklch(0.145 0 0);

  --muted: oklch(0.97 0 0);
  --muted-fg: oklch(0.556 0 0);

  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);

  --success-subtle: oklch(0.696 0.17 162.48 / 0.15);
  --success-subtle-fg: oklch(0.508 0.118 165.612);

  --info-subtle: oklch(0.685 0.169 237.323 / 0.15);
  --info-subtle-fg: oklch(0.5 0.134 242.749);

  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);

  --warning-subtle: oklch(0.828 0.189 84.429 / 0.2);
  --warning-subtle-fg: oklch(0.555 0.163 48.998);

  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);

  --danger-subtle: oklch(0.637 0.237 25.331 / 0.15);
  --danger-subtle-fg: oklch(0.505 0.213 27.518);

  --border: oklch(0.910 0 0);
  --input: oklch(0.87 0 0);
  --ring: oklch(0.646 0.222 41.116);

  --navbar: oklch(0.995 0 0);
  --navbar-fg: oklch(0.145 0 0);

  --sidebar: oklch(0.985 0 0);
  --sidebar-fg: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.705 0.213 47.604);
  --sidebar-primary-fg: oklch(1 0 0);
  --sidebar-accent: oklch(0.922 0 0);
  --sidebar-accent-fg: oklch(0.145 0 0);
  --sidebar-border: oklch(0.900 0 0);
  --sidebar-ring: oklch(0.646 0.222 41.116);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.705 0.213 47.604);
  --chart-3: oklch(0.75 0.183 55.934);
  --chart-4: oklch(0.837 0.128 66.29);
  --chart-5: oklch(0.901 0.076 70.697);

  --radius-lg: 0.5rem;
  --radius-xs: calc(var(--radius-lg) * 0.5);
  --radius-sm: calc(var(--radius-lg) * 0.75);
  --radius-md: calc(var(--radius-lg) * 0.9);
  --radius-xl: calc(var(--radius-lg) * 1.25);
  --radius-2xl: calc(var(--radius-lg) * 1.5);
  --radius-3xl: calc(var(--radius-lg) * 2);
  --radius-4xl: calc(var(--radius-lg) * 3);
}

.dark {
  --bg: oklch(0.185 0 0);
  --fg: oklch(0.985 0 0);

  --primary: oklch(0.705 0.213 47.604);
  --primary-fg: oklch(1 0 0);

  --primary-subtle: oklch(0.705 0.213 47.604 / 0.1);
  --primary-subtle-fg: oklch(0.75 0.183 55.934);

  --secondary: oklch(0.239 0 0);
  --secondary-fg: oklch(0.985 0 0);

  --overlay: oklch(0.205 0 0);
  --overlay-fg: oklch(0.985 0 0);

  --accent: oklch(0.269 0 0);
  --accent-fg: oklch(0.985 0 0);

  --muted: oklch(0.205 0 0);
  --muted-fg: oklch(0.708 0 0);

  --success: oklch(0.596 0.145 163.225);
  --success-fg: oklch(1 0 0);

  --success-subtle: oklch(0.696 0.17 162.48 / 0.1);
  --success-subtle-fg: oklch(0.765 0.177 163.223);

  --info-subtle: oklch(0.685 0.169 237.323 / 0.1);
  --info-subtle-fg: oklch(0.828 0.111 230.318);

  --warning: oklch(0.828 0.189 84.429);
  --warning-fg: oklch(0.279 0.077 45.635);

  --warning-subtle: oklch(0.828 0.189 84.429 / 0.1);
  --warning-subtle-fg: oklch(0.828 0.189 84.429);

  --danger: oklch(0.577 0.245 27.325);
  --danger-fg: oklch(0.971 0.013 17.38);

  --danger-subtle: oklch(0.637 0.237 25.331 / 0.1);
  --danger-subtle-fg: oklch(0.704 0.191 22.216);

  --border: oklch(0.271 0 0);
  --input: oklch(0.321 0 0);
  --ring: oklch(0.646 0.222 41.116);

  --navbar: oklch(0.185 0 0);
  --navbar-fg: oklch(0.985 0 0);

  --sidebar: oklch(0.205 0 0);
  --sidebar-fg: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.705 0.213 47.604);
  --sidebar-primary-fg: oklch(1 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-fg: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.646 0.222 41.116);

  --chart-1: oklch(0.553 0.195 38.402);
  --chart-2: oklch(0.705 0.213 47.604);
  --chart-3: oklch(0.75 0.183 55.934);
  --chart-4: oklch(0.837 0.128 66.29);
  --chart-5: oklch(0.901 0.076 70.697);
}

@layer base {
  * {
    /*
     * Scrollbar
     */
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;

    border-color: var(--border);
  }

  body {
    background-color: var(--bg);
    color: var(--fg);
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
  }
}
