name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        task:
          [
            type-check,
            biome,
            build,
            prettier,
            test:unit,
            test:integration,
            test:e2e,
          ]
      fail-fast: false
    steps:
      - name: Checkout the repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup tools
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3.4.1
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Install Playwright browsers
        if: matrix.task == 'test:e2e'
        run: bun playwright install --with-deps
      - name: Run TypeScript type check
        if: matrix.task == 'type-check'
        run: bun run tsc --noEmit --pretty
      - name: Run Biome
        if: matrix.task == 'biome'
        run: bun run biome ci .
      - name: Build
        if: matrix.task == 'build'
        run: bun run build
      - name: Run Prettier
        if: matrix.task == 'prettier'
        run: bun run prettier:format
      - name: Run unit tests
        if: matrix.task == 'test:unit'
        run: bun run test:unit
      - name: Run integration tests
        if: matrix.task == 'test:integration'
        run: bun run test:integration
      - name: Run e2e tests
        if: matrix.task == 'test:e2e'
        run: bun run test:e2e
      - name: Upload Playwright report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: matrix.task == 'test:e2e' && !cancelled()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
